{
  "semi": false,
  "tabWidth": 4,
  "useTabs": false,
  "trailingComma": "es5",
  "bracketSpacing": true,
  "singleQuote": true,
  "printWidth": 120,
  "proseWrap": "preserve",
  "overrides": [
    {
      "files": "{*.js?(on),.prettierrc,*.md}",
      "options": {
        "tabWidth": 2
      }
    },
    {
      "files": ".prettierrc",
      "options": {
        "parser": "json"
      }
    }
  ]
}
