.nyc_output/**
.vscode/**
coverage/**
images/**
!images/logo.png
out/test/**
src/**
testproject/**
.editorconfig
.gitignore
.npmrc
.prettierignore
.prettierrc
.travis.yml
*.log
*.vsix
**/*.js.map
appveyor-install.ps1
appveyor.yml
gulpfile.js
ISSUE_TEMPLATE.md
package-lock.json
travis-php.ini
tsconfig.json
.eslintrc.js
renovate.json
.github
codecov.yml
