.vscode/**
images/**
out/test/**
src/**
testproject/**
.editorconfig
.gitignore
.npmrc
.travis.yml
*.log
*.vsix
**/*.js.map
appveyor-install.ps1
appveyor.yml
gulpfile.js
ISSUE_TEMPLATE.md
package-lock.json
travis-php.ini
tsconfig.json
tslint.json
