.vscode/**/*.*
src/**/*.*
out/test/**/*.*
**/*.js.map
typings/**/*.*
testproject/**/*.*
.gitignore
.editorconfig
typings.json
tslint.json
gulpfile.js
tsconfig.json
appveyor.yml
appveyor-install.ps1
.travis.yml
travis-php.ini
ISSUE_TEMPLATE.md
