name: build

on: [push, pull_request]

env:
  FORCE_COLOR: 3

jobs:
  test:
    if: github.event_name == 'pull_request' || github.ref == 'refs/heads/main'
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        include:
          # Latest versions
          - xdebug: xdebug-3.0.1 # renovate:keep-up-to-date
            php: '8.0' # renovate:keep-up-to-date
            os: ubuntu-18.04
          - xdebug: xdebug-3.0.1 # renovate:keep-up-to-date
            php: '8.0' # renovate:keep-up-to-date
            os: windows-2019
          - xdebug: xdebug-3.0.1 # renovate:keep-up-to-date
            php: '8.0' # renovate:keep-up-to-date
            os: macos-10.15
          # Old versions
          - xdebug: xdebug-2.9.8
            php: '7.4'
            os: ubuntu-18.04
    steps:
      - uses: actions/checkout@v2
      - name: Setup Node.js
        uses: actions/setup-node@v2
        with:
          node-version: '14.15.3' # renovate:keep-up-to-date
      - name: Install npm dependencies
        run: npm ci
      - name: Prettier
        run: npm run prettier-check
      - name: Lint
        run: npm run tslint
      - name: Build VS Code extension
        run: npm run build
      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php }}
          extensions: ${{ matrix.xdebug }}
          # Top: XDebug v3
          # Bottom: XDebug v2
          ini-values: >-
            xdebug.mode = debug,
            xdebug.start_with_request = yes,
            xdebug.client_port = 9000,

            xdebug.remote_enable = 1,
            xdebug.remote_autostart = 1,
            xdebug.remote_log = /tmp/xdebug.log
      - name: Run tests
        run: npm run cover
      - name: Generate coverage report
        run: ./node_modules/.bin/nyc report --reporter=json
      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v1
  release:
    runs-on: ubuntu-18.04
    needs: test
    if: github.repository_owner == 'xdebug' && github.event_name == 'push' && github.ref == 'refs/heads/main'
    steps:
      - uses: actions/checkout@v2
      - name: Setup Node.js
        uses: actions/setup-node@v2
        with:
          node-version: '14.15.3' # renovate:keep-up-to-date
      - name: Install npm dependencies
        run: npm ci
      - name: Build VS Code extension
        run: npm run build
      - name: Release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          VSCE_TOKEN: ${{ secrets.VSCE_TOKEN }}
        run: npm run semantic-release
